$lcblue: #4765f8;

.motiv {
  display: flex;
  width: 100%;
  height: 288px;
  padding: 64px 144px;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F7FA;

  .motiv-text {
    width: 540px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    .motiv-big-text {
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 44px;

      .mbt-blue{
        color: $lcblue;
      }
    }

    .motiv-small-text {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }

  .motiv-num{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
    column-gap: 40px;

    .num1, .num2, .num3, .num4{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 10px;
    }

    .num-division{
        .up{
            font-weight: 700;
            height: 36px;
            font-size: 28px;
        }
        .down{
            color: #717171;
        }
    }
  }
}
