body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: linear-gradient(90Deg, white, violet);
}
.Heading{
    color: blueviolet;
    padding-left: 25px;
}

div {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
}

img {
    height: 300px;
    max-width: 300px;
    border: 1px solid black; 
    margin-left: 100px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
}

.Bob{
    color: blueviolet;
    padding-left: 135px;
}
